[submodule "extern/GooStats/cmake-utilities"]
	path = extern/GooStats/cmake-utilities
	url = https://github.com/GooStats/cmake-utilities.git
[submodule "extern/google/googletest"]
	path = extern/google/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/NVIDIA/thrust"]
	path = extern/NVIDIA/thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "extern/arsenm/sanitizers-cmake"]
	path = extern/arsenm/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
